<div class="card" style="margin-top: 20px;margin-bottom: 20px;">

    <h2 class="card-title text-center"  style="margin-top: 20px;margin-bottom: 10px;">Certificates</h2>
  
    <div style="margin-right: 20px;margin-left:20px;margin-top:25px;margin-bottom: 30px;">
      
      <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/img/c1.PNG" class="card-img-top" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body ">
              <h5 class="card-title">Full Stack Web Developer</h5>
              <p class="card-text">In that course, I learned my main stack. I delved into version control, agile development methodology, frameworks, libraries, and soft skills.</p>
              <p class="card-text">Agile development methodology: Scrum</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
              <button type="button" class="btn btn-primary" style="width:300px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Open
              </button>
            </div>
          </div>
        </div>
      </div>

        <div class="card mb-3">
          <div class="row g-0">
            
            <div class="col-md-8">
              <div class="card-body ">
                <h5 class="card-title">Programming Basics</h5>
                <p class="card-text">In that course, basic concepts of imperative and object-oriented programming were taught. It was the previous step to #YoProgramo.</p>
                <p class="card-text">Languages: Js and Ruby </p>
                <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                <button type="button" class="btn btn-primary" style="width:300px;" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                      Open
                </button>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./assets/img/c2.PNG" class="card-img-top" alt="...">
            </div>
            
          </div>
        </div>
      


    </div>




</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="card">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <img src="./assets/img/c1.PNG" class="card-img" alt="" style="width:auto;height:auto;">
      </div>
      
    </div>
  </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="card">
        <img src="./assets/img/c2.PNG" class="card-img" alt="" style="width:auto;height:auto;">
      </div>
      
    </div>
  </div>
</div>

