<div class="card " style="padding: 20px 20px 20px 20px;margin-bottom: 20px;" id="contact">
    <h1 id="contact" class="text-center">Contact</h1>

    <form id="form" action="https://formspree.io/f/xwkjrzdb"
    method="POST">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name">


    
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
    
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your message" rows="3"></textarea>
      </div>
    
        <button type="submit" class="btn btn-primary " style="width:80%;">Send</button>
    

    
    </form>

    
</div>