<!-- LENGUAJES -->
<div class="card" style="margin-top: 20px;">


  <h2 class="card-title text-center"style="margin-top: 20px;" id="lenguajes">Technologies</h2>
  
  
  
  <div class="row" style="margin-top: 5px;" style="margin-left: 10px;margin-right:10px;margin-bottom: 15px;">
    
    <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let skills of miSkills">
        
        <div class="card-body">
          <h5 class="card-title"><i class="fa-solid fa-code" style="margin-right: 5px;"></i>{{skills.name}}</h5>
          
          <div style="height:20px;" class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" [ngStyle]="{'width.%':skills.porcentaje}"></div>
          </div>
          
        </div>
  
        
  
    </div>
    
    
    </div> 
  
    
    
  
  
  
  </div>